<td><%= booking.book_date %></td>
<td><%= booking.return_date %></td>
<td><%="200"%></td>
<td><%= booking.due_amt %></td>
<td><%= booking.service_amt %></td>
<%amt = booking.due_amt + booking.service_amt - 200%>
<% if amt > 0 %>
<td><%=amt%></td>
<%else%>
<td> Need to pay <%=amt.abs%></td>
<%end%>
<%if current_user.admin %>
  <td><%= booking.user.email %></td>
<%end%>
<td><%= booking.car.name %></td>
