
<table class = "table table-striped table-bordered table-hover table-sm">


  <tbody>
    <tr>
      <div id="<%= dom_id booking %>">
        <td>
          <strong>user:</strong>
          <%= booking.book_date %>
        </td>
        <td>
          <strong>Book date:</strong>
          <%= booking.book_date %>
        </td>
        <tr>
          <strong>Return date:</strong>
          <%= booking.return_date %>
        </>
        <td>
          <strong>Due amt:</strong>
          <%= booking.due_amt %>
        </>
        <td>
          <strong>Service amt:</strong>
          <%= booking.service_amt %>
        </td>
        <td>
          <strong>User:</strong>
          <%= booking.user_id %>
        </td>

        <td>
          <strong>Car:</strong>
          <%= booking.car_id %>
        </tr>

      </div>
    </tr>
  </tbody>
</table>











<%= link_to "All users" , '/home/index' %>