<div id="<%= dom_id booking %>">
  <p>
    <strong>Book date:</strong>
    <%= booking.book_date %>
  </p>

  <p>
    <strong>Return date:</strong>
    <%= booking.return_date %>
  </p>

  <p>
    <strong>Due amt:</strong>
    <%= booking.due_amt %>
  </p>

  <p>
    <strong>Service amt:</strong>
    <%= booking.service_amt %>
  </p>

  <p>
    <strong>User:</strong>
    <%= booking.user_id %>
  </p>

  <p>
    <strong>Car:</strong>
    <%= booking.car_id %>
  </p>

</div>
