<td><%= booking.book_date %></td>

 <%if  booking.car.status==false && !current_user.admin?%>
  <%= form_with(model: booking) do |form| %>
  <td>
      <%= form.datetime_field :return_date %>
      <%= form.submit %>
  </td>
  <% end %>
  <% else %>
  <td><%= booking.return_date %></td>

<% end %>
<td><%="200"%></td>
<%booking.due_amt=50*(booking.return_date.to_time-booking.book_date.to_time)/60/60%>




<% if current_user.admin? %>
  <%= form_with(model: booking) do |form| %>
  <td>
      <%= form.number_field :due_amt ,class: 'form-control' %><br>
       <%= form.submit class:'btn btn-primary' %>
  </td>
  <% end %>
<% else %>
  <td> <%=booking.due_amt %> </td>
<% end %>

<% if !booking.service_amt %>
  <% booking.service_amt=0 %>
<% end %>

<% if current_user.admin? %>
  <%= form_with(model: booking) do |form| %>
  <td>
      <%= form.number_field :service_amt ,class: 'form-control' %><br>
       <%= form.submit class:'btn btn-primary' %>
  </td>
  <% end %>
<% else %>
  <td> <%=booking.service_amt %> </td>
<% end %>





<% if booking.service_amt %>
  <%amt = booking.due_amt + booking.service_amt - 200%>
  <% else %>
  <%amt = booking.due_amt - 200%>
<% end %>
<% if amt > 0 %>
<td><%=amt%></td>
<%else%>
<td> Need to pay <%=amt.abs%></td>
<%end%>
<%if current_user && current_user.admin? %>
  <td><%= booking.user.email %></td>
  <td><%= booking.car.name %></td>
<%end%>
