<%= form_with(model: booking) do |form| %>
  <% if booking.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
        <% booking.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-outline mb-4">
    <%= form.label :book_date ,class: "form-label" %>
    <%= form.datetime_field :book_date ,class: "form-control form-control-lg"%>
  </div>

  <div class="form-outline mb-4">
    <%= form.label :return_date, class: "form-label" %>
    <%= form.datetime_field :return_date ,class: "form-control form-control-lg"%>
  </div>

  <div>
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div>
    <%= form.hidden_field :car_id, value: params[:id]  %>
  </div>

   <div class="d-flex justify-content-center">
    <%= form.submit %>
  </div>
<% end %>