<p style="color: green"><%= notice %></p>

<%= @booking.id %>
<br>
<%="user"%>
<%= @booking.user_id %>
<br>
<%="User Email "%><br>
<%= @booking.user.email %>
<br>
<%="User car booked "%><br>
<%= @booking.car.name %>

<%=" date return "%><br>
<%= @booking.return_date %>
<br>
<%=" Booking kilometer == "%>
<%= @booking.kilometer %>

<%=" Booking due amt == "%>
<%= @booking.due_amt %>


<div>
  <%= link_to "Edit this booking", edit_booking_path(@booking) %> |
  <%= link_to "Back to bookings", bookings_path %>

  <%= button_to "Destroy this booking", @booking, method: :delete %>

  <p><%=link_to "Booking download (PDF)" ,booking_path(@booking,format: "pdf")%></p>
</div>
