<p style="color: green"><%= notice %></p>

<%= @booking.id %>
<br>
<%="user"%>
<%= @booking.user_id %>
<br>
<%="User Email - "%>
<%= @booking.user.email %>
<div>
  <%= link_to "Edit this booking", edit_booking_path(@booking) %> |
  <%= link_to "Back to bookings", bookings_path %>

  <%= button_to "Destroy this booking", @booking, method: :delete %>
</div>
