<div class="container py-3 h-100 ">
  <div class="row d-flex justify-content-center align-items-center h-100 m-0">
    <div class="col-12 col-md-8 ">
      <div class="shadow-lg p-3 mb-5 bg-white rounded">
          <div class="card-header">
            <h3 class = "text-center">User Details</h3>
          </div>
            Username : <span><%= @user.user_name %></span>
          <br>
            User Email : <span><%= @user.email %></span>
          <p>
          <% if @user.admin %>
            As a <%= "Admin"  %> in Car Rental Pvt Ltd 
          <% else %>
             As a <span class = "bg-light-grey"><%= "Customer" %> in Car Rental Pvt Ltd </span>
          <% end %>
          </p>
          <td><%= link_to "Delete", @user, method: :delete, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
      </div>
    </div>
  </div>
</div>