
<table class = "table table-striped table-bordered table-hover table-sm">
    <thead class="thead-dark">
      <tr>
        <th>user</th>
        <th>book_date</th>
        <th>return_date</th>
        <th>due_amt</th>
        <th>service_amt</th>
        <th>total_amt</th>
      </tr>
    </thead>
  <% @booking.each do |booking|  %>
    <tbody>
    <tr>
      <td>user <%= booking.id %></td>
      <td><%= booking.book_date %></td>
      <td><%= booking.return_date %></td>
      <td><%= booking.due_amt%></td>
      <td><%= booking.service_amt%></td>
      <td><%= booking.due_amt + booking.service_amt %></td>
    </tr>
    <% end %>
    </tbody>
</table>

<%= link_to "All users" , '/home/index' %>