<p><%=link_to "Cars" ,'/cars'%></p>
<p><%=link_to "Users" ,'/users'%></p>
<p><%=link_to "Bookings" ,'/bookings'%></p>

<%if false%>
<table class = "table table-striped table-bordered table-hover table-sm">
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Status</th>
      </tr>
    </thead>
  <% @user.each do |user|  %>
    <tbody>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.status%></td>
    </tr>
    <% end %>
    </tbody>
</table>

<%= link_to "Booking" , '/home/booking' %>
<%end%>
