






<div class="alert alert-primary" role="alert">
<div class="mx-auto" style="width: 200px;"><%=link_to "Bookings" ,'/bookings'%></div>
</div>
<div class="alert alert-secondary" role="alert">
<div class="mx-auto" style="width: 200px;"><%=link_to "Users" ,'/users'%></div>
</div>
<div class="alert alert-success" role="alert">
<div class="mx-auto" style="width: 200px;"><%=link_to "Cars" ,'/cars'%></div>
</div>
<div class="alert alert-danger" role="alert">
  A simple danger alert—check it out!
</div>
<div class="alert alert-warning" role="alert">
  A simple warning alert—check it out!
</div>




<%if false%>
<table class = "table table-striped table-bordered table-hover table-sm">
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Status</th>
      </tr>
    </thead>
  <% @user.each do |user|  %>
    <tbody>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.status%></td>
    </tr>
    <% end %>
    </tbody>
</table>

<%= link_to "Booking" , '/home/booking' %>
<%end%>
