  <td><%= car.name %></td>
  <td><%= car.color %></td>
  <td><%= car.model%></td>
  <td><%= car.rental %></td>
  <%if car.status==true%>
  <td><%="Available"%></td>
  <%else%>
  <td><%="Booked"%></td>
  <%end%>
<td>Booked by <%= current_user.user_name%></td>
