<%= form_with(model: car) do |form| %>
  <% if car.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
        <% car.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-outline mb-4">
    <%= form.text_field :name ,placeholder: "Car Name" , class: "form-control form-control-lg mx-1"%>
  </div>

<div class="form-outline mb-4">
    <%= form.text_field :color ,placeholder: "Color" ,class: "form-control form-control-lg mx-1"%>
  </div>

<div class="form-outline mb-4">
    <%= form.text_field :model ,placeholder: "Model" ,class: "form-control form-control-lg mx-1"%>
  </div>

<div class="form-outline mb-4">
    <%= form.number_field :rental ,placeholder: "Rental Price (in Rs.)" ,class: "form-control form-control-lg mx-1" %>
  </div>

<div class="form-outline mb-4">
    <%= form.label :"Car Status", class: "form-label" %>
    <%= form.select(:status, [['Available', 1], ['Booked', 0]], {}, {class: "form-select"}) %>
  </div>

<div class="form-outline mb-4">
    <%= form.label :"Image Upload" , class: "form-label"%><br />
    <%= form.file_field :images , multiple: true ,class: "form-control" %>
  </div>

  <div class="justify-content-center">
    <%= form.submit "Create Car" ,class: "btn btn-outline-primary"%>
<% end %>
