<p style="color: green"><%= notice %></p>

<h1>Cars</h1>
<table class = "table table-striped table-bordered table-hover table-sm">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Color</th>
      <th>Model</th>
      <th>Rental Price (in Rs.)</th>
      <th>Status</th>
       <%if current_user && current_user.admin?%>
        <th>Show</th>
      <%else%>
        <th>Rent</th>
      <%end%>

      <%if current_user && current_user.admin?%>
        <th>Delete</th>
      <%end%>
    </tr>
  </thead>
  <% @cars.each do |car| %>
    <tr>
        <%= render car %>
        <%if current_user && current_user.admin?%>
          <td><%= link_to "Show this car", car %></td>
        <%else%>
        <% if car.status %>
          <td><%= link_to "Rent this car", car %></td>
        <% else %>
          <td><%= link_to "Return Car", car %></td>
        <% end %>
        <%end%>
        <%if current_user && current_user.admin?%>
          <td><%= link_to "Delete", car, method: :delete, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
          </td>

          
        <%end%>
    </tr>
  <%end%>
</table>

<%= link_to "New car", new_car_path %>
