<p style="color: green"><%= notice %></p>
<h1>Rent car</h1><br>
<table class = "table table-striped table-bordered table-hover table-sm">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Color</th>
      <th>Model</th>
      <th>Rental Price (in Rs.)</th>
      <th>Status</th>

      <%if current_user && !current_user.admin? && @car.status%>
        <th>Rent</th>
        <% else %>
        <th>Return</th>
      <% end %>
      <%if current_user && current_user.admin?%>
        <th>Delete</th>
        <th>Edit</th>
      <%end%>
    </tr>
  </thead>
    <tr>
      <%= render @car %>

      <% if @car.status==true && !current_user.admin?%>
        <td><%=link_to "Rent car",book_path(@car.id)%></td>


      <% else %>



      <%= form_with(model: @car) do |form| %>
  <td>
      <%= form.select :status, [['Return' ,1], ['Keep it with you' ,0]] %><br>
       <%= form.submit class:'btn btn-primary' %>
  </td>
  <% end %>



      <% end %>
      <%if current_user && current_user.admin?%>
        <td><%= button_to "Destroy this car", @car, method: :delete ,data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' },class: 'btn btn-danger' %></td>
        <td><%= link_to "Edit this car", edit_car_path(@car) %></td>
      <%end%>
    </tr>
</table>




  <%if @car.status==false && !current_user.admin?%>
    <h1>Booking history</h1><br>
    <table class = "table table-striped table-bordered table-hover table-sm">
      <thead class="thead-dark">
        <tr>
          <th>Booking time</th>
          <th>Return time</th>
          <th>Booking charges (Fixed for all) </th>
          <th>Due Amount</th>
          <th>Service amount</th>
          <th>Total Amount Price (in Rs.)</th>
          <%if current_user.admin%>
            <th>User</th>
          <%end%>
          <%if current_user.admin%>
            <th>Car</th>
          <%end%>
        </tr>
      </thead>
      <% @bookings.each do |booking| %>
        <tr>
            <%= render booking %>
          <% end %>
        </tr>
    </table>
  <% end %>








<div>Pictures (Placeholder)</div><br>
<%if false%>
<%= image_tag 'img1.png', alt: "Home"%>
<%= image_tag 'img1.png', alt: "Home"%>
<%= image_tag 'img1.png', alt: "Home"%>
<%= image_tag 'img1.png', alt: "Home"%>
<%= image_tag 'img1.png', alt: "Home"%>
<%= image_tag 'img1.png', alt: "Home"%>
<%end%>
<div><br>

<div>


<%if current_user && current_user.admin?%>

<h1>Booking history</h1><br>

<table class = "table table-striped table-bordered table-hover table-sm">
  <thead class="thead-dark">
    <tr>
      <th>Booking time</th>
      <th>Return time</th>
      <th>Booking charges (Fixed for all) </th>
      <th>Due Amount</th>
      <th>Service amount</th>
      <th>Total Amount Price (in Rs.)</th>
      <%if current_user.admin%>
        <th>User</th>
      <%end%>
      <%if current_user.admin%>
        <th>Car</th>
      <%end%>
    </tr>
  </thead>

  <% @bookings.each do |booking| %>
    <tr>
        <%= render booking %>
      <% end %>
    </tr>
</table>

<% end %>

<%= link_to "Back to cars", cars_path %>

</div>
